/* Write your code at the bottom */

* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto",sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.fa {
  margin-right: 5px;
}

/*header*/

header {
  height: 65px;
  width: 100%;
  background-color: rgba(9, 132, 227,0.7);
  position :fixed;
  top: 0;
  z-index: 10;
}

 .logo {
  width: 124px;
  margin-top: 20px;
  color: white;
} 

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

span.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}

/*main*/
.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://github.com/jeniar/project_progate/blob/main/bg.JPG);
  background-size: cover;
/*   color: white; */
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

/*body*/
.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

/*footer*/
.footer {
  background-color: #2f5167;
  color:#fff;
  height: 120px;
  padding-top: 20px;
}

.footer-logo{
  font-size:20px;
  float:left;
}

.footer-list{
  float:right;
}

li {
  list-style: none;
}

/*animasi*/
.animasi img{
  width: 125px;
  position: relative;
  animation-name: jalan;
  animation-duration: 8s;
  animation-iteration-count: 3;
}

@keyframes jalan {
  0%   {left:0%; top:0px;}
  25%  {left:25%; top:0px;}
  50%  {left:50%; top:0px;}
  75%  {left:75%; top:0px;}
  100% {left:100%; top:0px;}
}

.bubbles img {
  width: 50px;
  animation: bubble 6s linear infinite;
}

.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: -100px;
}

@keyframes bubble{
      0%{
        transform: translateY(0);
        opacity: 0;
      }
      50%{
        transform: translateY(0);
        opacity: 1;
      }
      70%{
        transform: translateY(0);
        opacity: 1;
      }
      100%{
        transform: translateY(-80vh);
        opacity: 0;
      }
}

.bubbles img:nth-child(1) {
  animation-delay: 0.2s;
  width: 25px;
}
.bubbles img:nth-child(2) {
  animation-delay: 0.5s;
}
.bubbles img:nth-child(3) {
  animation-delay: 1.5s;
  width: 25px;
}
.bubbles img:nth-child(4) {
  animation-delay: 3s;
}
.bubbles img:nth-child(5) {
  animation-delay: 1s;
}
.bubbles img:nth-child(6) {
  animation-delay: 4s;
  width: 20px;
}
.bubbles img:nth-child(7) {
  animation-delay: 5s;
  width: 35px;
}
.bubbles img:nth-child(8) {
  animation-delay: 3.5s;
  width: 25px;
}
.bubbles img:nth-child(9) {
  animation-delay: 3s;
}
.bubbles img:nth-child(10) {
  animation-delay: 2.5s;
  width: 50px;
}

.bubbles img:nth-child(11) {
  animation-delay: 2s;
  width: 20px;
}

.bubbles img:nth-child(12) {
  animation-delay: 5.5s;
}
.bubbles img:nth-child(13) {
  animation-delay: 4s;
  width: 30px;
}
.bubbles img:nth-child(14) {
  animation-delay: 1.5s;
  width: 40px;
}
.bubbles img:nth-child(15) {
  animation-delay: 3.5s;
}
